@(declarations: LevyDeclarations)

@proposition = {
    <div class="header-proposition">
        <div class="content">
            <nav id="proposition-menu" class="header__menu" role="navigation">
                <span class="header__menu__proposition-name">Digital Apprenticeship Service</span>

                <ul id="proposition-links" class="header__menu__proposition-links">
                    <li><a id="logOutNavHref" href="@controllers.routes.ClientSignInController.signOut()" data-journey-click="primary-navigation:Click:Sign out">
                        Sign out</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
}

@main(s"Levy Declarations for ${declarations.empref}", insideHeader = proposition) {
    <div>
        <h2>Levy Declarations for @declarations.empref</h2>
        <table>
            <thead>
                <tr>
                    <th>Payroll Period</th>
                    <th>Declared Levy YTD</th>
                    <th>Submission Time</th>
                </tr>
            </thead>
            <tbody>
            @declarations.declarations.map { decl =>
                <tr>
                    <td align="right">@decl.payrollPeriod.map(p => s"${p.year} ${p.month}")</td>
                    <td align="right">&pound;@decl.levyDueYTD</td>
                    <td align="right">@decl.submissionTime</td>
                </tr>
            }
            </tbody>
        </table>
        <div>
            <a href="@controllers.routes.ClientController.index ()">Back</a>
        </div>
    </div>
}