@import db.client.DASUserRow
@import db.client.SchemeClaimRow
@(user: DASUserRow, claimedSchemes: Seq[SchemeClaimRow])

@main("Welcome to DAS") {
    <h2>Welcome @user.name</h2>
    <div>
        <h3>Your claimed schemes</h3>
        <ul>
        @claimedSchemes.map { s => <li>@s.empref</li> }
        </ul>
    </div>
    <div>
        <h3>Claim a scheme</h3>
        <form action="@controllers.client.routes.ClientController.claimScheme" method="post">
            <label for="empref">PAYE Scheme Employer Reference (e.g. 123/AB12345)</label>
            <input type="text" id="empref" name="empref"/>
            <input type="submit" value="Claim"/>
        </form>
    </div>

    <div>
        <a href="@controllers.client.routes.ClientLoginController.logout()">Logout</a>
    </div>
}